<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Request Sent</title>
  </head>
  <body>
    <table style="border-collapse: collapse;" width="100%">
      <tr style="height: 90px">
        <th colspan="2">
          <img style="float: left;" src="cid:logo1" alt="" width="30%" />
        </th>
        <th colspan="2">
          <img style="float: right;" src="cid:logo2" alt="" width="12%" />
        </th>
      </tr>
      <tr
        style="
        height: 100px; --tw-bg-opacity: 1; background-color: rgb(185 28 28 / var(--tw-bg-opacity));"
      >
        <td colspan="4" style="text-align: center;">
          <h1
            style="font-size: 3rem/* 48px */;
            line-height: 1;
            font-weight: 600;
            padding-left: 4rem/* 64px */;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));"
          >Password Request Sent</h1></td>
      </tr>
      <tr>
        <td
          colspan="4"
          style="--tw-bg-opacity: 1;
            background-color: rgb(243 244 246 / var(--tw-bg-opacity));
            padding: 5%;
            font-size: 1.125rem/* 18px */;
            line-height: 1.75rem/* 28px */;
            line-height: 2.5rem/* 40px */;
            text-align: justify;"
        >
          <p>Dear Marahuyo User,</p>
          <p style="margin-top: 2.5rem/* 40px */;">We received a request to
            access your Marahuyo Account
            <span
              style="--tw-text-opacity: 1;
                color: rgb(37 99 235 / var(--tw-text-opacity)); 
                font-weight: 600;
                text-decoration-line: underline;"
            >{{email}}</span>
            through your email address. Your Marahuyo verification code is:
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: center;">
          <h1
            style="font-size: 2.25rem/* 36px */;
                line-height: 2.5rem/* 40px */;
                font-weight: 700;
                margin-top: 2.5rem/* 40px */;
                margin-bottom: 2.5rem/* 40px */;
                text-align: center;
                --tw-text-opacity: 1;
                color: rgb(185 28 28 / var(--tw-text-opacity));"
          >{{code}}</h1></td>
      </tr>
      <tr>
        <td colspan="4" >
          <p>If you did not request this code, it is possible that someone else
            is trying to access the Marahuyo Account
            <span
              style="--tw-text-opacity: 1;
                        color: rgb(37 99 235 / var(--tw-text-opacity)); 
                        font-weight: 600;
                        text-decoration-line: underline;"
            >{{email}}</span>.
            <b>Do not forward to give this code to anyone.</b></p>
          <p style="margin-top: 1.25rem/* 20px */;">Your received this message
            because this email address is listed as the recovery email for the
            Marahuyo Account. If that is incorrect, please contact
            <span
              style="--tw-text-opacity: 1;
                        color: rgb(37 99 235 / var(--tw-text-opacity)); 
                        font-weight: 600;
                        text-decoration-line: underline;"
            >marahuyo.services@gmail.com</span>
            to remove your email address from that Google Account.</p>
          <p
            style="margin-top: 2.5rem/* 40px */;
                    margin-bottom: 2.5rem/* 40px */;"
          >Sincerely yours,</p>
          <p>The Marahuyo Accounts team</p>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: center">
          <p
            style="font-size: 0.875rem/* 14px */;
            line-height: 1.25rem/* 20px */;
            font-weight: 400;"
          >Ayala Blvd., corner San Marcelino St., Ermita, Manila 1000</p>
          <p
            style="margin-top: 0.5rem/* 8px */;
            --tw-text-opacity: 1;
            color: rgb(156 163 175 / var(--tw-text-opacity));
            font-size: 0.875rem/* 14px */;
            line-height: 1.25rem/* 20px */;"
          >© 2023 Marahuyo, Inc. All Rights Reserved.</p>
        </td>
      </tr>
    </table>
  </body>
</html>